/* BEM naming convention used */

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gotham:wght@700&display=swap');


/* css variables */
:root {
    /* --primary--color: #90c691; */
    --primary--color: #639e69;
    --light--yellow: #fefce8;
    --font-family: 'Fredoka One', cursive; /* Define font-family variable */
}

body {
    font-family: Arial, sans-serif;
    background-color: #c7e9e8;
}

/* navigation */
.navigation {
    background-color: var(--primary--color);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 150%;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    height: 150px;
    width: 100%;
    font-family: var(--font-family);
    /* font-family: 'Gotham', sans-serif; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: perspective(1000px) rotateX(10deg);
    transition: transform 0.3s ease;
}

.navigation:hover {
    transform: perspective(1000px) rotateX(0deg);
}

.navigation img {
    width: 105px;
    height: 105px;
    transition: transform 0.3s ease;
}

.navigation img:hover {
    transform: scale(1.1);
}

.navigation strong {
    font-size: 120%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* footer */
.footer {
    background-color: var(--primary--color);
    padding: 10px 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    width: 100%;
    font-family: var(--font-family); /* Apply font to navigation */
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    transform: perspective(1000px) rotateX(-10deg);
    transition: transform 0.3s ease;
}

.footer:hover {
    transform: perspective(1000px) rotateX(0deg);
}

.footer .list-footer {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .list-footer-item {
    list-style: none;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.footer .list-footer-item:hover {
    transform: scale(1.1);
}

.footer .link {
    text-align: center;
    text-decoration: none;
    color: white;
}

/* chat container */
.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    height: 80vh;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: #e8efee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
}

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}

.user-message {
    background-color: #dcf8c6;
    align-self: flex-end;
}

.bot-message {
    background-color: #ececec;
    align-self: flex-start;
}

.chat-input {
    display: flex;
    padding: 10px;
    background-color: #f9f9f9;
}

.form-control {
    margin-right: 10px;
}

.btn{
    font-weight: bolder;
    background-color: #39834a;
}

.btn:hover {
    background-color: #044212;
}

.btn:active {
    transform: translateY(4px); /* Moves the button down when clicked */
    box-shadow: 0 2px #639e69; /* Reduces the shadow size when clicked */
}

.spinner {
    display: none;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#btn-refresh {
    /* background-color: #4ca360; */
    margin-left: 0;
}

/* CSS for floating note */
.floating-note {
    position: absolute;
    top: 145px; /* Adjust this value to position it below your navigation bar */
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    z-index: 1000;
    animation: moveLeftToRight 40s linear infinite; /* Adjust animation duration as needed */
}

@keyframes moveLeftToRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

/* CSS for the helpTooltip button */
.float-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Ensure it's above other content */
}

.note {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Courier New', Courier, monospace;
    background-color: #c7e9e8;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(65, 31, 31, 0.1);
    z-index: 1;
}

            


